## 1. Import c√°c th∆∞ vi·ªán c·∫ßn thi·∫øt

In [2]:
from extractMongoDB import *

pd.set_option('display.max_columns', None)

In [3]:
from Preprocessing import *

In [4]:
df = extract_mongodb()
df.head()

,_id,id,area_used,area,bedroom,wc,juridical,date_submitted,link,address,latitude,longitude,describe,seller,seniority,phone,link_seller,witdh,length,no_hospital_1km,no_school_1km,no_cafe_1km,no_restaurant_1km,no_atm_1km,no_bank_1km,no_supermarket_1km,no_marketplace_1km,no_pharmacy_1km,no_fuel_1km
0,6633105e8fb5977205b08640,22539926.0,225.0,45.0,3.0,5.0,S·ªï h·ªìng,19/04/2024,https://mogi.vn/quan-go-vap/mua-nha-hem-ngo/ba...,"Th·ªëng Nh·∫•t, Ph∆∞·ªùng 11, Qu·∫≠n G√≤ V·∫•p, TPHCM",10.839189,106.661079,"M√¥ t·∫£:*DT: 5*9üëâ K·∫øt c·∫•u: 5 t·∫ßng g·ªìm tr·ªát, l·ª≠ng...",Ch√¢u Minh Tu·∫•n,850.0,908935028.0,https://mogi.vn/moi-gioi/0908935028-chau-minh-...,5.00,9.0,1.0,12.0,12.0,2.0,3.0,3.0,0.0,1.0,17.0,5.0
1,6633105e8fb5977205b08641,22524911.0,126.0,33.0,5.0,6.0,S·ªï h·ªìng,19/04/2024,https://mogi.vn/quan-binh-thanh/mua-nha-hem-ng...,"L√™ Quang ƒê·ªãnh, Ph∆∞·ªùng 7, Qu·∫≠n B√¨nh Th·∫°nh, TPHCM",10.807009,106.691612,"M√¥ t·∫£:+DT: 3,2x9,5+ K·∫øt c·∫•u: 1 tr·ªát, 1 l·ª≠ng, 2...",Ch√¢u Minh Tu·∫•n,850.0,908935028.0,https://mogi.vn/moi-gioi/0908935028-chau-minh-...,3.20,9.5,5.0,13.0,15.0,9.0,11.0,12.0,0.0,4.0,4.0,11.0
2,6633105e8fb5977205b08642,22521691.0,109.0,63.0,4.0,4.0,S·ªï h·ªìng,19/04/2024,https://mogi.vn/quan-binh-thanh/mua-nha-hem-ng...,"L√™ Quang ƒê·ªãnh, Ph∆∞·ªùng 5, Qu·∫≠n B√¨nh Th·∫°nh, TPHCM",10.812072,106.687519,M√¥ t·∫£: +DT: 4.05*12.5 n·ªü h·∫≠u t√†i L·ªôc 7.5m; DTC...,Ch√¢u Minh Tu·∫•n,850.0,908935028.0,https://mogi.vn/moi-gioi/0908935028-chau-minh-...,4.05,12.0,2.0,17.0,9.0,7.0,8.0,3.0,0.0,2.0,1.0,8.0
3,6633105e8fb5977205b08643,22538386.0,78.0,39.0,2.0,2.0,S·ªï h·ªìng,19/04/2024,https://mogi.vn/quan-binh-thanh/mua-nha-hem-ng...,"B√πi ƒê√¨nh T√∫y, Ph∆∞·ªùng 24, Qu·∫≠n B√¨nh Th·∫°nh, TPHCM",10.805522,106.705147,"M√¥ t·∫£:H·∫ªm 1 tr·ª•c, r·ªông 3m th√¥ng t·ª© h∆∞·ªõng,Nh√† 2...",Ch√¢u Minh Tu·∫•n,850.0,908935028.0,https://mogi.vn/moi-gioi/0908935028-chau-minh-...,2.80,13.0,1.0,7.0,10.0,4.0,11.0,4.0,0.0,1.0,1.0,7.0
4,6633105e8fb5977205b08644,22448804.0,300.0,60.0,3.0,4.0,S·ªï h·ªìng,19/04/2024,https://mogi.vn/quan-go-vap/mua-nha-hem-ngo/nh...,"ƒê∆∞·ªùng 44, Ph∆∞·ªùng 14, Qu·∫≠n G√≤ V·∫•p, TPHCM",10.845728,106.644039,+DT : 4x15+ Nh√† m·ªõi ƒë·∫πp ch·ªß d·ªçn ƒëi ƒë·ªÉ l·∫°i n·ªôi ...,Ch√¢u Minh Tu·∫•n,850.0,908935028.0,https://mogi.vn/moi-gioi/0908935028-chau-minh-...,4.00,15.0,0.0,12.0,6.0,2.0,3.0,0.0,0.0,2.0,8.0,1.0

In [5]:
df.shape

(82187, 29)

## 2. Ti·ªÅn x·ª≠ l√Ω

### 2.1. X√≥a nh·ªØng d√≤ng c√≥ id tr√πng nhau

In [6]:
df.drop_duplicates(subset=['id'],inplace=True)

In [7]:
df.shape

(18139, 29)

### 2.2. ƒê∆∞a v·ªÅ ƒë·ªãnh d·∫°ng ph√π h·ª£p

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18139 entries, 0 to 82186
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id                 18139 non-null  object
 1   id                  18138 non-null  float64
 2   area_used           17538 non-null  float64
 3   area                17507 non-null  float64
 4   bedroom             17819 non-null  float64
 5   wc                  17837 non-null  float64
 6   juridical           18138 non-null  object
 7   date_submitted      18138 non-null  object
 8   link                16372 non-null  object
 9   address             18138 non-null  object
 10  latitude            17839 non-null  float64
 11  longitude           17839 non-null  float64
 12  describe            18138 non-null  object
 13  seller              18138 non-null  object
 14  seniority           18139 non-null  float64
 15  phone               18138 non-null  float64
 16  link_seller         14531 non-null  object
 17  witdh               17507 non-null  float64
 18  length              17507 non-null  float64
 19  no_hospital_1km     17762 non-null  float64
 20  no_school_1km       16928 non-null  float64
 21  no_cafe_1km         17921 non-null  float64
 22  no_restaurant_1km   17921 non-null  float64
 23  no_atm_1km          17544 non-null  float64
 24  no_bank_1km         17921 non-null  float64
 25  no_supermarket_1km  17921 non-null  float64
 26  no_marketplace_1km  17921 non-null  float64
 27  no_pharmacy_1km     12258 non-null  float64
 28  no_fuel_1km         17921 non-null  float64
dtypes: float64(21), object(8)
memory usage: 4.2+ MB

In [9]:
df['id'] = df['id'].astype(str).str.split(".").str.get(0)
df = df[df['id']!='nan']
df['id'] = df['id'].astype(int)

In [10]:
df['date_submitted'] = df['date_submitted'].astype('datetime64[ns]')

C:\Users\anhtu\AppData\Local\Temp\ipykernel_18112\2102504825.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['date_submitted'] = df['date_submitted'].astype('datetime64[ns]')

In [11]:
df['phone'] = df['phone'].astype('str')
df['phone'] = "0" + df['phone'].str.split(".").str.get(0)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18138 entries, 0 to 82186
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _id                 18138 non-null  object
 1   id                  18138 non-null  int32
 2   area_used           17538 non-null  float64
 3   area                17507 non-null  float64
 4   bedroom             17819 non-null  float64
 5   wc                  17837 non-null  float64
 6   juridical           18138 non-null  object
 7   date_submitted      18138 non-null  datetime64[ns]
 8   link                16371 non-null  object
 9   address             18138 non-null  object
 10  latitude            17839 non-null  float64
 11  longitude           17839 non-null  float64
 12  describe            18138 non-null  object
 13  seller              18138 non-null  object
 14  seniority           18138 non-null  float64
 15  phone               18138 non-null  object
 16  link_seller         14531 non-null  object
 17  witdh               17507 non-null  float64
 18  length              17507 non-null  float64
 19  no_hospital_1km     17761 non-null  float64
 20  no_school_1km       16927 non-null  float64
 21  no_cafe_1km         17920 non-null  float64
 22  no_restaurant_1km   17920 non-null  float64
 23  no_atm_1km          17543 non-null  float64
 24  no_bank_1km         17920 non-null  float64
 25  no_supermarket_1km  17920 non-null  float64
 26  no_marketplace_1km  17920 non-null  float64
 27  no_pharmacy_1km     12257 non-null  float64
 28  no_fuel_1km         17920 non-null  float64
dtypes: datetime64[ns](1), float64(19), int32(1), object(8)
memory usage: 4.1+ MB

### 2.3. X√≥a nh·ªØng c·ªôt kh√¥ng c·∫ßn thi·∫øt

In [13]:
df.drop(['_id', 'phone','link','describe','link_seller','date_submitted', 'seller'],inplace=True,axis=1)

### 2.4. ƒêi·ªÅn d·ªØ li·ªáu thi·∫øu

In [14]:
missing_ratio = df.isnull().sum()
missing_ratio = (missing_ratio / df.shape[0])*100
missing_ratio

id                     0.000000
area_used              3.307972
area                   3.478884
bedroom                1.758739
wc                     1.659499
juridical              0.000000
address                0.000000
latitude               1.648473
longitude              1.648473
seniority              0.000000
witdh                  3.478884
length                 3.478884
no_hospital_1km        2.078509
no_school_1km          6.676591
no_cafe_1km            1.201897
no_restaurant_1km      1.201897
no_atm_1km             3.280406
no_bank_1km            1.201897
no_supermarket_1km     1.201897
no_marketplace_1km     1.201897
no_pharmacy_1km       32.423641
no_fuel_1km            1.201897
dtype: float64

In [15]:
cols_to_fillna = ['no_hospital_1km','no_school_1km','no_cafe_1km','no_restaurant_1km','no_atm_1km','no_bank_1km','no_supermarket_1km','no_marketplace_1km','no_pharmacy_1km','no_fuel_1km']
df[cols_to_fillna] = df[cols_to_fillna].fillna(0)

### 2.5. T√°ch c·ªôt `address`

In [16]:
df['address'].str.split(",").str.len().unique()

array([4, 3], dtype=int64)

In [17]:
df['address_district'] = df['address'].str.split(",").str.get(-2)
df['address_ward'] = df['address'].str.split(",").str.get(-3)
df['address_street'] = df['address'].str.split(",").str.get(-4)

In [18]:
df[df['address'].str.split(",").str.len()==3]

,id,area_used,area,bedroom,wc,juridical,address,latitude,longitude,seniority,witdh,length,no_hospital_1km,no_school_1km,no_cafe_1km,no_restaurant_1km,no_atm_1km,no_bank_1km,no_supermarket_1km,no_marketplace_1km,no_pharmacy_1km,no_fuel_1km,address_district,address_ward,address_street
1814,22349462,296.0,296.0,5.0,5.0,S·ªï h·ªìng,"Ph∆∞·ªùng Ph√∫ M·ªπ, Qu·∫≠n 7, TPHCM",10.72440,106.724547,2520.0,11.0,26.7,0.0,11.0,13.0,15.0,5.0,8.0,0.0,0.0,1.0,0.0,Qu·∫≠n 7,Ph∆∞·ªùng Ph√∫ M·ªπ,NaN
3100,22342229,600.0,182.0,5.0,4.0,S·ªï h·ªìng,"Ph∆∞·ªùng Ph√∫ M·ªπ, Qu·∫≠n 7, TPHCM",10.72440,106.724547,2520.0,7.0,26.0,0.0,11.0,13.0,15.0,5.0,8.0,0.0,0.0,1.0,0.0,Qu·∫≠n 7,Ph∆∞·ªùng Ph√∫ M·ªπ,NaN
4847,20211741,NaN,NaN,5.0,5.0,S·ªï h·ªìng,"ƒê∆∞·ªùng s·ªë 6A, Qu·∫≠n B√¨nh T√¢n, TP.HCM",10.75017,106.619043,2490.0,NaN,NaN,1.0,9.0,3.0,9.0,5.0,5.0,0.0,3.0,1.0,11.0,Qu·∫≠n B√¨nh T√¢n,ƒê∆∞·ªùng s·ªë 6A,NaN

In [19]:
df.drop(['address'],inplace=True,axis=1)

In [20]:
# Special case
df.loc[df['id']==20211741,'address_street'] = df.loc[df['id']==20211741,'address_ward']
df.loc[df['id']==20211741,'address_ward'] = "Ph∆∞·ªùng B√¨nh Tr·ªã ƒê√¥ng B"

In [21]:
missing_ratio = df.isnull().sum()
missing_ratio = (missing_ratio / df.shape[0])*100
missing_ratio

id                    0.000000
area_used             3.307972
area                  3.478884
bedroom               1.758739
wc                    1.659499
juridical             0.000000
latitude              1.648473
longitude             1.648473
seniority             0.000000
witdh                 3.478884
length                3.478884
no_hospital_1km       0.000000
no_school_1km         0.000000
no_cafe_1km           0.000000
no_restaurant_1km     0.000000
no_atm_1km            0.000000
no_bank_1km           0.000000
no_supermarket_1km    0.000000
no_marketplace_1km    0.000000
no_pharmacy_1km       0.000000
no_fuel_1km           0.000000
address_district      0.000000
address_ward          0.000000
address_street        0.011027
dtype: float64

ƒêi·ªÅn gi√° tr·ªã thi·∫øu `address_street`

In [22]:
df["address_street"] = df["address_street"].fillna("Unknown")

In [23]:
df[['bedroom','wc']] = df[['bedroom','wc']].fillna(1)

In [24]:
missing_ratio = df.isnull().sum()
missing_ratio = (missing_ratio / df.shape[0])*100
missing_ratio

id                    0.000000
area_used             3.307972
area                  3.478884
bedroom               0.000000
wc                    0.000000
juridical             0.000000
latitude              1.648473
longitude             1.648473
seniority             0.000000
witdh                 3.478884
length                3.478884
no_hospital_1km       0.000000
no_school_1km         0.000000
no_cafe_1km           0.000000
no_restaurant_1km     0.000000
no_atm_1km            0.000000
no_bank_1km           0.000000
no_supermarket_1km    0.000000
no_marketplace_1km    0.000000
no_pharmacy_1km       0.000000
no_fuel_1km           0.000000
address_district      0.000000
address_ward          0.000000
address_street        0.000000
dtype: float64

ƒêi·ªÅn gi√° tr·ªã thi·∫øu `latitude` v√† `longtitude`

In [25]:
lat_lon_null = df[df['latitude'].isnull() & df['longitude'].isnull()]
lat_lon_null.head()

,id,area_used,area,bedroom,wc,juridical,latitude,longitude,seniority,witdh,length,no_hospital_1km,no_school_1km,no_cafe_1km,no_restaurant_1km,no_atm_1km,no_bank_1km,no_supermarket_1km,no_marketplace_1km,no_pharmacy_1km,no_fuel_1km,address_district,address_ward,address_street
75,22525754,80.0,80.0,3.0,3.0,S·ªï h·ªìng,NaN,NaN,760.0,4.0,19.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Qu·∫≠n 12,Ph∆∞·ªùng T√¢n Th·ªõi Nh·∫•t,T√¢n Th·ªõi Nh·∫•t 11
85,22523643,101.0,101.0,3.0,2.0,S·ªï h·ªìng,NaN,NaN,760.0,4.0,27.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Qu·∫≠n 12,Ph∆∞·ªùng T√¢n Ch√°nh Hi·ªáp,Nguy·ªÖn Th·ªã B√∫p
95,22523557,117.0,117.0,6.0,4.0,S·ªï h·ªìng,NaN,NaN,760.0,4.1,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Qu·∫≠n 12,Ph∆∞·ªùng Trung M·ªπ T√¢y,Nguy·ªÖn ·∫¢nh Th·ªß
102,22513589,182.0,182.0,4.0,3.0,S·ªï h·ªìng,NaN,NaN,760.0,6.0,30.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Huy·ªán H√≥c M√¥n,X√£ Trung Ch√°nh,Quang Trung
110,22512790,84.0,84.0,2.0,2.0,S·ªï h·ªìng,NaN,NaN,760.0,41.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Qu·∫≠n 12,Ph∆∞·ªùng ƒê√¥ng H∆∞ng Thu·∫≠n,Tr∆∞·ªùng Chinh

In [26]:
def find_lat_lon(df, address_distric, address_ward, address_street):
    lat_lon_df = df[df['address_district'].str.contains(address_distric) & df['address_ward'].str.contains(address_ward) & df['address_street'].str.contains(address_street)]
    if lat_lon_df['latitude'].isnull().all():
        lat_lon_df = df[df['address_district'].str.contains(address_distric) & df['address_ward'].str.contains(address_ward)]
        if lat_lon_df['latitude'].isnull().all():
            lat_lon_df = df[df['address_district'].str.contains(address_distric)]
    lat = lat_lon_df['latitude'].mean()
    lon = lat_lon_df['longitude'].mean()
    return lat, lon

In [27]:
for index, row in lat_lon_null.iterrows():
    address_distric = row['address_district']
    address_ward = row['address_ward']
    address_street = row['address_street']

    address_distric = address_distric.replace("(","\(")
    address_distric = address_distric.replace(")","\)")
    address_ward = address_ward.replace("(","\(")
    address_ward = address_ward.replace(")","\)")
    address_street = address_street.replace("(","\(")
    address_street = address_street.replace(")","\)")
    lat, lon = find_lat_lon(df, address_distric, address_ward, address_street)
    df.loc[index,'latitude'] = lat
    df.loc[index,'longitude'] = lon

In [28]:
missing_ratio = df.isnull().sum()
missing_ratio = (missing_ratio / df.shape[0])*100
missing_ratio

id                    0.000000
area_used             3.307972
area                  3.478884
bedroom               0.000000
wc                    0.000000
juridical             0.000000
latitude              0.000000
longitude             0.000000
seniority             0.000000
witdh                 3.478884
length                3.478884
no_hospital_1km       0.000000
no_school_1km         0.000000
no_cafe_1km           0.000000
no_restaurant_1km     0.000000
no_atm_1km            0.000000
no_bank_1km           0.000000
no_supermarket_1km    0.000000
no_marketplace_1km    0.000000
no_pharmacy_1km       0.000000
no_fuel_1km           0.000000
address_district      0.000000
address_ward          0.000000
address_street        0.000000
dtype: float64

In [29]:
df.loc[~df['area_used'].isnull() & df['area'].isnull(), 'area'] = df['area_used']

In [30]:
missing_ratio = df.isnull().sum()
missing_ratio = (missing_ratio / df.shape[0])*100
missing_ratio

id                    0.000000
area_used             3.307972
area                  3.307972
bedroom               0.000000
wc                    0.000000
juridical             0.000000
latitude              0.000000
longitude             0.000000
seniority             0.000000
witdh                 3.478884
length                3.478884
no_hospital_1km       0.000000
no_school_1km         0.000000
no_cafe_1km           0.000000
no_restaurant_1km     0.000000
no_atm_1km            0.000000
no_bank_1km           0.000000
no_supermarket_1km    0.000000
no_marketplace_1km    0.000000
no_pharmacy_1km       0.000000
no_fuel_1km           0.000000
address_district      0.000000
address_ward          0.000000
address_street        0.000000
dtype: float64

Replace `area_used`, `area`, `width`, `length` c√≤n l·∫°i b·∫±ng 0

In [31]:
df.fillna(0, inplace=True)

In [32]:
missing_ratio = df.isnull().sum()
missing_ratio = (missing_ratio / df.shape[0])*100
missing_ratio

id                    0.0
area_used             0.0
area                  0.0
bedroom               0.0
wc                    0.0
juridical             0.0
latitude              0.0
longitude             0.0
seniority             0.0
witdh                 0.0
length                0.0
no_hospital_1km       0.0
no_school_1km         0.0
no_cafe_1km           0.0
no_restaurant_1km     0.0
no_atm_1km            0.0
no_bank_1km           0.0
no_supermarket_1km    0.0
no_marketplace_1km    0.0
no_pharmacy_1km       0.0
no_fuel_1km           0.0
address_district      0.0
address_ward          0.0
address_street        0.0
dtype: float64

## Kh√°m ph√° d·ªØ li·ªáu

ƒê·ªçc file gi√° ti·ªÅn

In [43]:
df_prices = pd.read_csv('prices.csv')
df_prices.head()

In [45]:
df.head()

,id,area_used,area,bedroom,wc,juridical,latitude,longitude,seniority,witdh,length,no_hospital_1km,no_school_1km,no_cafe_1km,no_restaurant_1km,no_atm_1km,no_bank_1km,no_supermarket_1km,no_marketplace_1km,no_pharmacy_1km,no_fuel_1km,address_district,address_ward,address_street
0,22539926,225.0,45.0,3.0,5.0,S·ªï h·ªìng,10.839189,106.661079,850.0,5.00,9.0,1.0,12.0,12.0,2.0,3.0,3.0,0.0,1.0,17.0,5.0,Qu·∫≠n G√≤ V·∫•p,Ph∆∞·ªùng 11,Th·ªëng Nh·∫•t
1,22524911,126.0,33.0,5.0,6.0,S·ªï h·ªìng,10.807009,106.691612,850.0,3.20,9.5,5.0,13.0,15.0,9.0,11.0,12.0,0.0,4.0,4.0,11.0,Qu·∫≠n B√¨nh Th·∫°nh,Ph∆∞·ªùng 7,L√™ Quang ƒê·ªãnh
2,22521691,109.0,63.0,4.0,4.0,S·ªï h·ªìng,10.812072,106.687519,850.0,4.05,12.0,2.0,17.0,9.0,7.0,8.0,3.0,0.0,2.0,1.0,8.0,Qu·∫≠n B√¨nh Th·∫°nh,Ph∆∞·ªùng 5,L√™ Quang ƒê·ªãnh
3,22538386,78.0,39.0,2.0,2.0,S·ªï h·ªìng,10.805522,106.705147,850.0,2.80,13.0,1.0,7.0,10.0,4.0,11.0,4.0,0.0,1.0,1.0,7.0,Qu·∫≠n B√¨nh Th·∫°nh,Ph∆∞·ªùng 24,B√πi ƒê√¨nh T√∫y
4,22448804,300.0,60.0,3.0,4.0,S·ªï h·ªìng,10.845728,106.644039,850.0,4.00,15.0,0.0,12.0,6.0,2.0,3.0,0.0,0.0,2.0,8.0,1.0,Qu·∫≠n G√≤ V·∫•p,Ph∆∞·ªùng 14,ƒê∆∞·ªùng 44

In [35]:
df.shape

(18138, 24)

In [49]:
df = df.merge(df_prices, on='id', how='left')

In [52]:
df[df['price(billionVND)'].isnull()]

,id,area_used,area,bedroom,wc,juridical,latitude,longitude,seniority,witdh,length,no_hospital_1km,no_school_1km,no_cafe_1km,no_restaurant_1km,no_atm_1km,no_bank_1km,no_supermarket_1km,no_marketplace_1km,no_pharmacy_1km,no_fuel_1km,address_district,address_ward,address_street,price(billionVND)
763,22472047,55.0,55.0,4.0,2.0,S·ªï h·ªìng,10.793346,106.822266,116.0,4.5,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Qu·∫≠n 9 (TP. Th·ªß ƒê·ª©c),Ph∆∞·ªùng Long Tr∆∞·ªùng,Nguy·ªÖn Duy Trinh,NaN
952,22478321,1000.0,368.0,5.0,6.0,S·ªï h·ªìng,10.809148,106.735321,277.0,18.5,20.0,1.0,11.0,23.0,42.0,4.0,0.0,0.0,1.0,3.0,2.0,Qu·∫≠n 2 (TP. Th·ªß ƒê·ª©c),Ph∆∞·ªùng Th·∫£o ƒêi·ªÅn,Th·∫£o ƒêi·ªÅn,NaN
3669,22532857,104.0,104.0,5.0,5.0,S·ªï ƒë·ªè,10.797203,106.672836,14.0,5.0,25.0,7.0,22.0,40.0,36.0,20.0,34.0,0.0,1.0,11.0,5.0,Qu·∫≠n Ph√∫ Nhu·∫≠n,Ph∆∞·ªùng 8,Nguy·ªÖn Tr·ªçng Tuy·ªÉn,NaN
7323,21948141,362.0,362.0,5.0,3.0,S·ªï h·ªìng,10.809148,106.735321,545.0,18.0,20.0,1.0,11.0,23.0,42.0,4.0,0.0,0.0,1.0,0.0,2.0,Qu·∫≠n 2 (TP. Th·ªß ƒê·ª©c),Ph∆∞·ªùng Th·∫£o ƒêi·ªÅn,ƒê∆∞·ªùng s·ªë 14,NaN
7513,21890588,362.0,362.0,5.0,3.0,S·ªï h·ªìng,10.809148,106.735321,545.0,18.0,20.0,1.0,11.0,23.0,42.0,4.0,0.0,0.0,1.0,0.0,2.0,Qu·∫≠n 2 (TP. Th·ªß ƒê·ª©c),Ph∆∞·ªùng Th·∫£o ƒêi·ªÅn,Qu·ªëc H∆∞∆°ng,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17575,22546118,39.0,39.0,4.0,3.0,S·ªï h·ªìng,10.813403,106.710812,29.0,3.2,14.3,0.0,11.0,9.0,5.0,5.0,6.0,0.0,0.0,0.0,7.0,Qu·∫≠n B√¨nh Th·∫°nh,Ph∆∞·ªùng 26,ƒêinh B·ªô Lƒ©nh,NaN
17576,22546117,79.0,79.0,3.0,3.0,S·ªï h·ªìng,10.840637,106.633224,1060.0,4.7,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Qu·∫≠n 12,Ph∆∞·ªùng ƒê√¥ng H∆∞ng Thu·∫≠n,T√¥ K√Ω,NaN
17577,22546121,114.0,114.0,5.0,5.0,S·ªï h·ªìng,10.807009,106.691612,29.0,10.0,18.0,5.0,13.0,15.0,9.0,11.0,12.0,0.0,4.0,4.0,11.0,Qu·∫≠n B√¨nh Th·∫°nh,Ph∆∞·ªùng 7,L√™ Quang ƒê·ªãnh,NaN
17578,22546116,79.0,79.0,3.0,3.0,S·ªï h·ªìng,10.840637,106.633224,665.0,4.7,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Qu·∫≠n 12,Ph∆∞·ªùng ƒê√¥ng H∆∞ng Thu·∫≠n,T√¥ K√Ω,NaN
17579,22546115,112.0,112.0,6.0,3.0,S·ªï h·ªìng,10.853244,106.713905,29.0,5.0,22.5,0.0,1.0,0.0,0.0,1.0,2.0,0.0,0.0,2.0,6.0,Qu·∫≠n Th·ªß ƒê·ª©c (TP. Th·ªß ƒê·ª©c),Ph∆∞·ªùng Hi·ªáp B√¨nh Ph∆∞·ªõc,Nguy·ªÖn Th·ªã Nhung,NaN