In [1]:
import pandas as pd
import re

In [2]:
def vietnamese_numerical_to_numeric(vietnamese_str):
    numerical_dict = {
        't·ª∑': 10**9,
        'tri·ªáu': 10**6,
        'ngh√¨n': 10**3,
        'ƒë·ªìng': 1,
        'ƒë': 1
    }

    value = 0
    current_value = 0
    for word in vietnamese_str.split():
        if word in numerical_dict:
            current_value *= numerical_dict[word]
            value += current_value
            current_value = 0
        else:
            current_value += float(word.replace('t·ª∑', '').replace('tri·ªáu', '').replace('ngh√¨n', ''))

    return value

In [3]:
df_house = pd.read_csv('../data1/house_today(2024-04-24).csv')
df_house_info = pd.read_csv('../data1/house_info_today(2024-04-24).csv')

In [4]:
df_house.head()

,name,district,price,bedroom,wc,acreage,link,date
0,"B√°n Nh√† M·ªõi ƒê·∫πp,H·∫ªm Ba G√°c s√°t HXH, L√™ Quang ƒê...","Qu·∫≠n B√¨nh Th·∫°nh, TPHCM",6 t·ª∑ 950 tri·ªáu,8 PN,9 WC,100 m2,https://mogi.vn/quan-binh-thanh/mua-nha-hem-ng...,2024-04-24
1,B√°n nh√† H·∫ªm Ba G√°c Th√¥ng L√™ Quang ƒê·ªãnh P.7 Q.B...,"Qu·∫≠n B√¨nh Th·∫°nh, TPHCM",5 t·ª∑,4 PN,4 WC,63 m2,https://mogi.vn/quan-binh-thanh/mua-nha-hem-ng...,2024-04-24
2,"B√°n Nh√† M·ªõi ƒê·∫πp , HXH ƒë·ªó c·ª≠a Th·ªëng Nh·∫•t P.11 G...","Qu·∫≠n G√≤ V·∫•p, TPHCM",6 t·ª∑ 500 tri·ªáu,5 PN,6 WC,33 m2,https://mogi.vn/quan-go-vap/mua-nha-hem-ngo/ba...,2024-04-24
3,B√°n nh√† m·∫∑t ti·ªÅn ƒë∆∞·ªùng S·ªë 66 Th·∫£o ƒêi·ªÅn 4x25m v...,"Qu·∫≠n 2 (TP. Th·ªß ƒê·ª©c), TPHCM",13 t·ª∑,3 PN,5 WC,45 m2,https://mogi.vn/quan-2/mua-nha-mat-tien-pho/ba...,2024-04-24
4,B√°n to√† nh√† VP Gold Star L√Ω Th∆∞·ªùng Ki·ªát. h·∫ßm 9...,"Qu·∫≠n 10, TPHCM",75 t·ª∑,8 PN,9 WC,120 m2,https://mogi.vn/quan-10/mua-nha-mat-tien-pho/b...,2024-04-24

In [5]:
df_house.shape

(5855, 8)

In [6]:
def preprocess_house(df_house):
    df_house = df_house[['link','price']]
    df_house['link'] = df_house['link'].apply(lambda x: re.search(r"\-id([0-9]*)",x).group(1))
    df_house.rename(columns={'price':'price(billionVND)', 'link':'id'},inplace=True)
    df_house['id'] = pd.to_numeric(df_house['id'])

    # Drop rows with NaN values in the 'id' column
    df_house.dropna(subset=['id'], inplace=True)

    df_house['id'] = df_house['id'].astype(int)

    df_house['price(billionVND)'] = df_house['price(billionVND)'].apply(lambda x: vietnamese_numerical_to_numeric(x)/1000000000)
    df_house.drop_duplicates(subset=['id'], inplace=True)
    return df_house

In [7]:
df_house = preprocess_house(df_house)

C:\Users\anhtu\AppData\Local\Temp\ipykernel_18636\1686690951.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_house['link'] = df_house['link'].apply(lambda x: re.search(r"\-id([0-9]*)",x).group(1))
C:\Users\anhtu\AppData\Local\Temp\ipykernel_18636\1686690951.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_house.rename(columns={'price':'price(billionVND)', 'link':'id'},inplace=True)
C:\Users\anhtu\AppData\Local\Temp\ipykernel_18636\1686690951.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_house['id'] = pd.to_numeric(df_house['id'])
C:\Users\anhtu\AppData\Local\Temp\ipykernel_18636\1686690951.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_house.dropna(subset=['id'], inplace=True)
C:\Users\anhtu\AppData\Local\Temp\ipykernel_18636\1686690951.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_house['id'] = df_house['id'].astype(int)
C:\Users\anhtu\AppData\Local\Temp\ipykernel_18636\1686690951.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_house['price(billionVND)'] = df_house['price(billionVND)'].apply(lambda x: vietnamese_numerical_to_numeric(x)/1000000000)
C:\Users\anhtu\AppData\Local\Temp\ipykernel_18636\1686690951.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_house.drop_duplicates(subset=['id'], inplace=True)

In [8]:
df_house.shape

(5769, 2)

In [9]:
df_house_info.head()

,address,latitude,longitude,describe,area_used,area,bedroom,wc,juridical,date_submitted,id,seller,seniority,phone
0,"L√™ Quang ƒê·ªãnh, Ph∆∞·ªùng 5, Qu·∫≠n B√¨nh Th·∫°nh, TPHCM",10.812072,106.687519,M√¥ t·∫£: +DT: 4.05*12.5 n·ªü h·∫≠u t√†i L·ªôc 7.5m; DTC...,"109,5 m2","63 m2 (4,05x12)",4.0,4.0,S·ªï h·ªìng,24/04/2024,22521691,Ch√¢u Minh Tu·∫•n,2 nƒÉm 5 th√°ng,908935028
1,"L√™ Quang ƒê·ªãnh, Ph∆∞·ªùng 7, Qu·∫≠n B√¨nh Th·∫°nh, TPHCM",10.807009,106.691612,"M√¥ t·∫£:+DT: 3,2x9,5+ K·∫øt c·∫•u: 1 tr·ªát, 1 l·ª≠ng, 2...","126,4 m2","33 m2 (3,2x9,5)",5.0,6.0,S·ªï h·ªìng,24/04/2024,22524911,Ch√¢u Minh Tu·∫•n,2 nƒÉm 5 th√°ng,908935028
2,"Th·ªëng Nh·∫•t, Ph∆∞·ªùng 11, Qu·∫≠n G√≤ V·∫•p, TPHCM",10.839189,106.661079,"M√¥ t·∫£:*DT: 5*9üëâ K·∫øt c·∫•u: 5 t·∫ßng g·ªìm tr·ªát, l·ª≠ng...",225 m2,45 m2 (5x9),3.0,5.0,S·ªï h·ªìng,24/04/2024,22539926,Ch√¢u Minh Tu·∫•n,2 nƒÉm 5 th√°ng,908935028
3,"26 ƒê∆∞·ªùng s·ªë 66, Ph∆∞·ªùng Th·∫£o ƒêi·ªÅn, Qu·∫≠n 2 (TP. ...",10.812520,106.729592,"B√°n nh√† m·∫∑t ti·ªÅn ƒë∆∞·ªùng S·ªë 62 Th·∫£o ƒêi·ªÅn, Qu·∫≠n 2...",120 m2,120 m2 (4x25),8.0,9.0,S·ªï h·ªìng,24/04/2024,22539325,Cao Ng·ªçc Nam,3 nƒÉm 3 th√°ng,902989755
4,"L√Ω Th∆∞·ªùng Ki·ªát, Ph∆∞·ªùng 14, Qu·∫≠n 10, TPHCM",10.772981,106.661602,B√°n to√† nh√† vƒÉn ph√≤ng Gold Star L√Ω Th∆∞·ªùng Ki·ªát...,2850 m2,300 m2 (20x16),20.0,20.0,S·ªï h·ªìng,24/04/2024,22492767,NGUY·ªÑN D∆Ø∆†NG,5 nƒÉm 9 th√°ng,935665544

In [10]:
df_house_info.shape

(5853, 14)

In [11]:
def preprocess_houseinfo(df_house_info, df_house):
    df_house_info.drop_duplicates(subset=['id'], inplace=True)
    df_merge = df_house_info.merge(df_house,on='id')
    return df_merge

In [12]:
df_merge = preprocess_houseinfo(df_house_info, df_house)

In [13]:
missing_ratio = df_merge.isnull().sum()
missing_ratio = (missing_ratio / df_merge.shape[0])*100
missing_ratio

address               0.000000
latitude              1.838044
longitude             1.838044
describe              0.000000
area_used            42.118953
area                  0.000000
bedroom               1.456563
wc                    1.075082
juridical             0.000000
date_submitted        0.000000
id                    0.000000
seller                0.000000
seniority             0.000000
phone                 0.000000
price(billionVND)     0.000000
dtype: float64